/*
==================================================
GENERALES
==================================================
*/

* {
    /* border: 1px solid tomato; */
}

html, body {
    font-size: .95rem;
    font-family: "Roboto", "Helvetica", Arial, sans_serif;
    line-height: 1.5rem;
    color: #454545;
    min-height: 100vh;
}

/*
==================================================
TIPO
==================================================
*/

/*
==================================================
FRAMEWORK
==================================================
*/

/*
==================================================
LAYOUT
==================================================
*/

.youtube.home {
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 350px 1fr;
}

.youtube.home .header {
    grid-area: 1 / 1 / 2 / 3;
}

.youtube.home .aside {
    grid-area: 2 / 1 / 3 / 2;
}

.youtube.home .main {
    grid-area: 2 / 2 / 3 / 3;
}

/*
==================================================
COMPONENTS
==================================================
*/

/*
=============================
HEADER
*/

.header {
    display: flex;

    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

/*
HEADER BRAND
*/

.header .header_brand {
    display: flex;
    align-items: center;
}

.header .header_brand .header_toggle {
    margin-right: 1rem;
}

.header .header_brand .header_toggle img {
    width: 18px;
}

.header .header_brand .header_logo {
    display: flex;
}

.header .header_brand .header_logo .logo {}

.header .header_brand .header_logo .logo img {
    width: 95px;
}

.header .header_brand .header_logo .lang {
    margin-top: -5px;
    margin-left: 5px;
}

/*
HEADER SEARCHBOX
*/

.header .header_searchbox {
    display: flex;
    align-items: stretch;
    flex-basis: 100%;
    margin: 0 7rem;
}

.header .header_searchbox .header_search {
    display: flex;
    flex-basis: 100%;
}

.header .header_searchbox .header_search input {
    padding: .5rem 1rem;
    flex-basis: 100%;
}

.header .header_searchbox .header_search input:focus {}

.header .header_searchbox .header_button {
    display: flex;
}

.header .header_searchbox .header_button button {
    padding: .5rem 1rem;
}

.header .header_searchbox .header_button button:focus {}

.header .header_searchbox .header_button button img {}

/*
HEADER NAVIGATION
*/

.header .header_navigation {
    display: flex;
    align-items: center;
}

.header .header_navigation .header_navigation_apps {
    display: flex;
}

.header .header_navigation .header_navigation_apps .header_navigation_app {
    margin-right: 1rem;
}

.header .header_navigation .header_navigation_apps .header_navigation_app img {
    width: 18px;
}

.header .header_navigation .header_navigation_user {
    border-radius: 50%;
    overflow: hidden;
}

.header .header_navigation .header_navigation_user img {
    width: 40px;
}

/*
=============================
ASIDE
*/

/*
GLOBAL ASIDE
*/

.aside {}

.aside .aside_section {
    border-bottom: 1px solid #ddd;
}

.aside .aside_section .aside_section_title {
    padding: .5rem .75rem;
    text-transform: uppercase;
    font-weight: bold;
}

/*
ASIDE LIST ITEM
*/

.aside_list_item {
    display: flex;
    align-items: center;
    padding: .5rem .75rem;
}
.aside_list_item .aside_list_item_icon {
    margin-right: 1rem;
}
.aside_list_item .aside_list_item_icon img {
    width: 30px;
}

.aside_list_item .aside_list_item_label {
    flex-basis: 100%;
}

/*
ASIDE CHANNEL ITEM
*/

.aside_channel_item {
    display: flex;
    align-items: center;
    padding: .5rem .75rem;
}

.aside_channel_item .aside_channel_item_icon {
    margin-right: 1rem;
}

.aside_channel_item .aside_channel_item_icon img {
    width: 45px;
    border-radius: 50%;
    overflow: hidden;
}

.aside_channel_item .aside_channel_item_label {
    margin-right: 1rem;
    flex-basis: 100%;
}

.aside_channel_item .aside_channel_item_status {}

.aside_channel_item .aside_channel_item_status .aside_channel_item_status_dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: blue;
}

/*
=============================
MAIN
*/

.main {
    padding: 2rem;
}

.main .videos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 1rem;
}

/*
VIDEO
*/

.video {}

.video .video_picture_block {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: 1fr auto;
}

.video .video_picture_block .video_picture {
    grid-area: 1 / 1 / 3 / 3;
}

.video .video_picture_block .video_picture img {
    width: 100%;
}

.video .video_picture_block .video_time {
    grid-area: 2 / 2 / 3 / 3;
    padding: .25rem;
    background-color: rgba(0, 0, 0, .8);
    color: white;
    margin: .25rem;
}

.video .video_info_block {
    display: flex;
    align-items: flex-start;
    margin: 1rem 0 3rem;

}

.video .video_info_block .video_info_user_pic {
    margin-right: 1rem;
}

.video .video_info_block .video_info_user_pic img {
    width: 45px;
}

.video .video_info_block .video_info_content {}

.video .video_info_block .video_info_content .video_info_title {}

.video .video_info_block .video_info_content .video_info_author {}

.video .video_info_block .video_info_content .video_info_author .verified {}

.video .video_info_block .video_info_content .video_info_author .verified img {
    width: 10px;
}

.video .video_info_block .video_info_content .video_info_meta {}

.video .video_info_block .video_info_content .video_info_meta .visualizations {}

.video .video_info_block .video_info_content .video_info_meta .dot {}

.video .video_info_block .video_info_content .video_info_meta .time {}
